<section id="advisors">
    <div class="split left">
        <h1>OUR ADVISORS</h1>
        <br/>
        <h1>
            "WE ARE SEEKING ADVISORS WHO PROVIDE STRATEGIC INSIGHT..."
        </h1>
        <br />
        <img src="" alt="david"/>
        <p>David Petraeus</p>
        <br/>
        <ul>
            <li>Former Director of CIA</li>
            <li>Former Commander of CENTCOM</li>
            <li>General, US Army, Ret. (4-star)</li>
            <li>KKR Global Institute Chairman</li>
        </ul>
        <br />
        <img src="" alt="michael"/>
        <p>Michael Hayden</p>
        <br/>
        <ul>
            <li>Former Director of CIA</li>
            <li>Former Director of NSA</li>
            <li>Former Principal Dep. Dir. For National Intel.</li>
            <li>General, US Air Force, Ret. (4-star)</li>
        </ul>
        <br />
        <img src="" alt="michaelSec"/>
        <p>Michael Hayden</p>
        <br/>
        <ul>
            <li>Former Commander of SOCOM</li>
            <li>Former Commander of JSOC</li>
            <li>Former Commander of SOCEUR</li>
            <li>Admiral, US Navy, Ret. (4-star)</li>
        </ul>
    </div>
    
</section>