<section id="advisors">
        <h1>OUR ADVISORS</h1>
        <hr/>
        <br/>
        <h1>
            "WE ARE SEEKING ADVISORS WHO <br/> PROVIDE STRATEGIC INSIGHT...
        </h1>
        <br />
        <div class="split left">
        <img src="assets\David_Petraeus.jpg" alt="david" width="220" height="235"/>
        <p>David Petraeus</p>
        <ul>
            <li>Former Director of CIA</li>
            <li>Former Commander of CENTCOM</li>
            <li>General, US Army, Ret. (4-star)</li>
            <li>KKR Global Institute Chairman</li>
        </ul>
        <br />
        <img src="assets\Michael_Hayden.jpg" alt="michael" width="220" height="235"/>
        <p>Michael Hayden</p>
        <ul>
            <li>Former Director of CIA</li>
            <li>Former Director of NSA</li>
            <li>Former Principal Dep. Dir. For National Intel.</li>
            <li>General, US Air Force, Ret. (4-star)</li>
        </ul>
        <br />
        <img src="assets\William_H._McRaven.jpg" alt="michaelSec" width="220" height="235"/>
        <p>William H. McRaven</p>
        <ul>
            <li>Former Commander of SOCOM</li>
            <li>Former Commander of JSOC</li>
            <li>Former Commander of SOCEUR</li>
            <li>Admiral, US Navy, Ret. (4-star)</li>
        </ul>
    </div>
    <div class="split right">
        <div class="centered">
            <img src="assets/Robert_O._Work_DoD_photo.jpg" alt="Robert" width="220" height="235"/>
            <p>Robert Work</p>
            <ul>
                <li>Former Deputy Secretary of Defense</li>
                <li>Former Undersecretary of the Navy</li>
                <li>Colonel, US Marine Corps</li>
                <li>CEO of Center for New American Sec.</li>
            </ul>
            <br/>
            <img src="assets\tom_mahnken-full1-1.jpg" alt="Tom" width="220" height="235" style="margin-left: -220px; margin-top: -40px;">
            <p>Tom Mahnken</p>
            <ul>
                <li style="margin-left: 180px;">Former Dep. Assist. Sec. Defense Policy</li>
                <li style="margin-left: 180px;">President of Center for Strat. Budget Assess</li>
                <li style="margin-left: 180px;">Captain,US Navy</li>
                <li style="margin-left: 180px;">Professor,Johns Hopkins SAIS</li>
            </ul>
            <h1 style="margin-top: 63px; font-weight: bold;">...AND UNPARALLELED <br/> NETWORK LEVERAGE."</h1>
        </div>
    </div>
    <div>
        <a href="#beginning" class="text-center circle-link">
            <i class="circle"></i>
        </a>
        <a href="#about" class="text-center circle-link2">
            <i class="circle"></i>
        </a>
        <a href="#portfolio" class="text-center circle-link3">
            <i class="circle"></i>
        </a>
        <a href="#advisors" class="text-center circle-link4">
            <i class="circle"></i>
        </a>
        <a href="#investors" class="text-center circle-link5">
            <i class="circle"></i>
        </a>
    </div>
</section>