#advisors{
    height: 50px;
    min-height: 820px;
    position: relative;
    background-color: rgb(243, 247, 246);
}

h1{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 40px; 
    color: teal;
    margin-left: 140px;
}

.split{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 30px;
    width: 30%;
    color: teal;
}

.left{
    left: 0;
    margin-left: 140px;
    max-width: 40%;
}

img {
    float: left;
    padding: 40px;
    border-radius: 50%;
    margin-top: -60px;

}

.right{
    right: 0;
    text-align: left;
}

.centered{
    position: absolute;
    top: 38%;
    left: 50%;
    right: 10px;
}

.circle-link {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 96%;
    right: 140%;
}

.circle {
    border: solid black;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    padding: 1.5px;
}

.circle:hover, 
.circle:focus {
    color: lightblue;
}

.circle-link2{
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 96%;
    right: 140%;
}

.circle-link3{
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 96%;
    right: 140%;
}

.circle-link4{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 96%;
    right: 140%;
}

.circle-link5{
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 96%;
    right: 140%;
}