#investors{
  background-repeat: no-repeat;
  background-position: top center;
  height: 50px;
  min-height: 650px;
  position: relative;
  background: linear-gradient(
    rgba(3, 39, 54, 0.9),
    rgba(0,0, 0, 0.9)
  ),url("C:\Users\Korisnik\Desktop\harpoon\src\assets\Legal-Meeting-Adoption-Law-Glendora.jpeg");
  background-size: 1350px 800px;
  width: 1350px;
}

.split{
  text-align: left;
  font-family: 'Arial Narrow', Arial, sans-serif;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  width: 50%;
  color: white;
}

.left{
    left: 0;
    margin-left: 150px;
}

.right{
  right: 0;
}

p{
  color: lightseagreen;
  font-weight: bold;
}

.circle-link {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 96%;
  right: 140%;
}

.circle {
  border: solid white;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  padding: 1.5px;
}

.circle:hover {
  background-color: rgb(125, 217, 230);
  border: solid rgb(125, 217, 230);
}

.circle-link2{
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 96%;
  right: 140%;
}

.circle-link3{
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 96%;
  right: 140%;
}

.circle-link4{
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 96%;
  right: 140%;
}

.circle-link5{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 96%;
  right: 140%;
}
.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 40px;
  background-color: rgb(95, 191, 194);
}

.container {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-family:  Arial, sans-serif;
}

h2{
  float: right;
  margin-top: 10px;
  margin-right: 320px;
  color: pink;
  opacity: 40%;
}

h3{
  color: pink;
  font-weight: bold;
}

h1{
  text-align: left;
  font-family: 'Arial Narrow', Arial, sans-serif;
  padding-top: 40px; 
  color: white;
  margin-left: 150px;
  font-weight: bold;
}

hr{
  background-color:rgb(95, 191, 194);
  width: 31%;
  margin-left: 1px;
  height: 4px;
  border: none;
}

