#about{
  height: 60px;
  min-height: 650px;
  position: relative;
  width: 1350px;
}

.split{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 50px;
}

.left{
    left: 0;
    background-color: white;
    margin-left: 150px;
}

.right{
    right: 0;
    background-color: white;
}

.centered{
    position: absolute;
    top: 8%;
    left: 60%;
    transform: rotate(45deg);
}

.img2{
    position: absolute;
    top: 26%;
    left: 73%;
    right: 20%;
    transform: rotate(45deg);
}

.img3{
    position: absolute;
    top: 45%;
    left: 62.3%;
    right: 120%;
    transform: rotate(45deg);
}

.circle-link {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 96%;
    right: 140%;
}

.circle {
    border: solid black;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    padding: 1.5px;
}

.circle:hover, 
.circle:focus {
    background-color: rgb(125, 217, 230);
    border: solid rgb(125, 217, 230);
}

.circle-link2{
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 96%;
    right: 140%;
}

.circle-link3{
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 96%;
    right: 140%;
}

.circle-link4{
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 96%;
    right: 140%;
}

.circle-link5{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 96%;
    right: 140%;
}

