<section id="about">
    <div class="split left">
        <h1>About us</h1>
        <h2>"HARPOON VENTURES IS BUILDING A PORTFOLIO OF TOP-TIER EARLY STAGE STARTUPS."</h2>
        <p>Harpoon Ventures is bulding a portfolio of top-tier early stage startups and helping them win them multi-million-dollar unconventional government contracts in support of elite national security units. Our team brings an unparalleled combination of top-tier Sillicon Valley venture capital experience together with deep domain knowledge in government, special operations, and intelligence.</p>
    </div>
    <div class="split right">
        <div class="centered">
            <img src="C:\Users\Korisnik\Desktop\harpoon\src\assets\photo9.jpg" alt="Images"/>

        </div>
    </div>
</section>