<section id="about">
    <div class="split left">
        <h1 style="color: darkcyan; font-weight: bold;">ABOUT US</h1>
        <hr/>
        <br />
        <br />
        <br />
        <h2 style="color: darkcyan; font-weight: bold;">"HARPOON VENTURES IS BUILDING A PORTFOLIO OF TOP-TIER EARLY STAGE STARTUPS."</h2>
        <p style="color: gray;">Harpoon Ventures is bulding a portfolio of top-tier early stage startups and helping them win them multi-million-dollar unconventional government contracts in support of elite national security units. Our team brings an unparalleled combination of top-tier Sillicon Valley venture capital experience together with deep domain knowledge in government, special operations, and intelligence.</p>
    </div>
    <div class="split right">
        <div class="centered">
            <img src="assets\raise-freelance-writing-rates-590x393.jpg" alt="Images" width="205px" height="205px"/>
            
        </div>
        <div class="img2">
            <img src="assets\blue_square.png" alt="blueSquare" width="205px" height="205px">
        </div>
        <div class="img3">
            <img src="assets\newspaper.jpg" alt="business" width="205px" height="205px">
        </div>
        <div>
            <a href="#beginning" class="text-center circle-link">
                <i class="circle"></i>
            </a>
            <a href="#about" class="text-center circle-link2">
                <i class="circle"></i>
            </a>
            <a href="#portfolio" class="text-center circle-link3">
                <i class="circle"></i>
            </a>
            <a href="#advisors" class="text-center circle-link4">
                <i class="circle"></i>
            </a>
            <a href="#investors" class="text-center circle-link5">
                <i class="circle"></i>
            </a>
        </div>
    </div>
</section>