<section id="beginning">
        <div class="head2">
         <h2 style="font-size:60px;">HARPOON VENTURES</h2>
        </div>       
        <div class="split right">
            <a href="#beginning" class="text-center circle-link">
                <i class="circle"></i>
            </a>
            <a href="#about" class="text-center circle-link2">
                <i class="circle"></i>
            </a>
            <a href="#portfolio" class="text-center circle-link3">
                <i class="circle"></i>
            </a>
            <a href="#advisors" class="text-center circle-link4">
                <i class="circle"></i>
            </a>
            <a href="#investors" class="text-center circle-link5">
                <i class="circle"></i>
            </a>
        </div>
        <div class="container">
            <span>partners@harpoon.vc</span>
            <br/>
            <span>MENLO PARK, CA</span>
            <br/>
            <span>
            <a href="#about" class="text-center arrow-link">
             <!--<i class="fas fa-3x fa-caret-down down-arrow"> --> 
                <i class="arrow down"> 
                </i>
            </a>
        </span>
        </div>

</section>

