#portfolio{
  background-repeat: no-repeat;
  background-position: top center;
  height: 50px;
  min-height: 730px;
  position: relative;
  background: linear-gradient(
    rgba(3, 39, 54, 0.7),
    rgba(0,0, 0, 0.8)
  ),url('https://images.unsplash.com/photo-1452587925148-ce544e77e70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-size: 1150px 800px;
  width: 1350px;
}

.split{
  text-align: left;
  font-family: 'Arial Narrow', Arial, sans-serif;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 40px;
  width: 40%;
  color: white;
}

.left{
  left: 0;
  margin-left: 150px;
}

.right{
  right: 0;
}


.circle-link {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 96%;
  right: 140%;
}

.circle {
  border: solid white;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  padding: 1.5px;
}

.circle:hover, 
.circle:focus {
  background-color: rgb(125, 217, 230);
  border: solid rgb(125, 217, 230);
}

.circle-link2{
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 96%;
  right: 140%;
}

.circle-link3{
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 96%;
  right: 140%;
}

.circle-link4{
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 96%;
  right: 140%;
}

.circle-link5{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 96%;
  right: 140%;
}

.heading{
  font-style: italic;
  font-weight: bold;
}

.centered{
  position: absolute;
  top: 24%;
  left: 60%;
  right: 20px;
  color: white;
}

.bottomText{
  color: white;
  font-family: 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left: 20%;
  text-align: center;
}

.underHeading{
  color: rgb(58, 180, 180);
}

button{
  text-align: center;
  font-family: 'Arial Narrow', Arial, sans-serif;
  border-color: rgb(58, 180, 180);
  border-width: 2px;
  display: inline-block;
  font-size: 16px;
  color: white;
  background-color: transparent;
  padding: 8px 30px;
}

.yellow{
  color: yellow;
}

.blue{
  color: teal;
  font-weight: bold;
}

.pA{
  color: white;
  word-spacing: 1em;
}