
    <section id="portfolio">
        <div class="split left">
            <h1>OUR PORTFOLIO</h1>
            <h3>ELROY AIR</h3>
            <p>VTOL autonomous heavy lift drones</p>
            <br/>
            <p>Next generation autonomous Vertical Takeoff and Landing(VTOL) wuth payloads in excess of 150 lbs and range in excess of 300 miles.</p>
            <br/>
            <button>VIEW MORE</button>
            <br/>
            <h2>
                PLANCK
            </h2>
            <h5>A E R O S Y S T E M S</h5>
            <p>
                Autonomous drones for underway launch & recovery
            </p>
            <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
            </p>
            <button class="button">
                VIEW MORE
            </button>
        </div>
        <div class="split right">
            <div class="centered">
                 <h5>EDGYBEES</h5>
                 <p>AR comprehensive situational awareness</p>
                 <br />
                 <p>Augmented Reality(AR) enabled common operation picture <br/> with customizable AR layers over full motion video feeds.</p>
                 <button>VIEW MORE</button>
                 <br/>
                 <h5>LOOK NGGLASS</h5>
                 <p>Real-time mixed reality training</p>
                 <p>Augmented Reality(AR) multiplayer games and training <br/> scenarios enabling users to seamlessly fuse a digital world <br/> with the real world.</p>
                 <button>VIEW MORE</button>
            </div>
            <a href="#beginning" class="text-center circle-link">
                <i class="circle"></i>
            </a>
            <a href="#about" class="text-center circle-link2">
                <i class="circle"></i>
            </a>
            <a href="#portfolio" class="text-center circle-link3">
                <i class="circle"></i>
            </a>
            <a href="#advisors" class="text-center circle-link4">
                <i class="circle"></i>
            </a>
            <a href="#investors" class="text-center circle-link5">
                <i class="circle"></i>
            </a>
        </div>
        <div class="bottomText">
            <h1>"THIS PORTFOLIO WAS CONSTRUCTED IN <br/> LESS THAN 1 MONTH."</h1>
        </div>
    </section>
