<section id="portfolio">
    <div class="split left">
        <h1>OUR PORTFOLIO</h1>
        <div class="heading">
        <h3>ELROY AIR</h3>
        </div>
        <div class="p">
        <p>VTOL autonomous heavy lift drones</p>
        <br/>
        <br/>
        <p>Next generation autonomous Vertical Takeoff and Landing(VTOL) wuth payloads in excess of 150 lbs and range in excess of 300 miles.</p>
        <br/>
        </div>
        <button>VIEW MORE</button>
        <br/>
        <br />
        <h2>
            PLANCK
        </h2>
        <h5>A E R O S Y S T E M S</h5>
        <p class="p">
            Autonomous drones for underway launch & recovery
        </p>
        <br/>
        <p class="p">
            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
        </p>
        <br/>
        <button class="button">
            VIEW MORE
        </button>

    </div>
   
</section>